@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap");

.contact-button {
  background-color: #cf3f74 !important;
}

.screen-first-column {
  font-size: 56px;
  line-height: 67px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/ibmplexserif/v9/jizAREVNn1dOx-zrZ2X3pZvkTi3Q-iI0q1s.woff2") format("woff2");
}
.screen-links {
  position: relative;
  color: #252525;
  padding: 0px 60px !important;
}
.nav-link:hover {
  color: #252525;
}
.screen-links-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(103%, 0px);
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.screens-second-column-columns {
  flex: none;
  align-self: stretch;
  padding-left: 15px;
  padding-right: 15px;
  /* width: 100%; */
  margin-bottom: 3em;
  width: 50%;
  max-width: 220px;
}
